body{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-image: url(paint_photos/windowsbg.jpg);
    background-position: center;
    background-size: 100%;
}

.window{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    background-color: #bdbdbd;
    height: 55em;
    width: 80em;
    border: solid 2px black;
    box-shadow: 2px 2px 4px 5px #3c3d42;
    user-select:none;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #00027c;
    height: 10em;
    width: auto;
    margin: 5px;
    resize: none;
    box-shadow: 1px 1px 1px 1px #3c3d41;
}

.title{
    display: flex;
    justify-content: flex-start;
    font-size: 60px;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px #3c3d41;
}

.windowControls{
    display: flex;
    justify-content: flex-end;
    height: 3em;
    width: 20em;
    padding: 20px;
}

    #minimize {
        padding: 15px;
        margin: 5px;
        background-color: #bdbdbd;
    }
        #minimize:hover {
            background-color: rgb(47, 0, 255);
            transition: ease .05s all;
        }

    #maximize {
        padding: 15px;
        margin: 5px;
        background-color: #bdbdbd;
    }
        #maximize:hover {
            background-color: rgb(47, 0, 255);
            transition: ease .05s all;
        }

    #close {
        padding: 15px;
        margin: 5px;
        background-color: #bdbdbd;
    }
        #close:hover {
        background-color: red;
        transition: ease .05s all;
        }

.midsection{
    display: flex;
    justify-content: space-around;
    background-color: rgb(44, 44, 44);
    height: 44em;
    width: 79.3em;
    margin: 5px;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:#bdbdbd;
    height: 42em;
    width: 30em;
    margin: 12px;
    padding: 2px;
    border: black solid 1px;
    box-shadow: 1px 1px 3px 4px #434449;
}

.themes{
    height: 10em;
    width: 27em;
    margin: 30px;
    font: bold 13px solid;
    border: dashed blue 4px;
}

    #classic{
        background: url(paint_photos/windowsbg.jpg);
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: 420px auto;
    }

        #classic:hover{
            border: blue 5px solid;
            cursor: pointer;
        }

    #primaries{
        background: url(paint_photos/polkadotsbg.png);
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: 420px auto;
    }

        #primaries:hover{
            border: 5px solid;
            border-image: linear-gradient(to bottom right, #fc2727 0%, #2c90fc 25%, #fffb00 50%, #ff0000 75%, #0026ff 100%);
            border-image-slice: 1;
            cursor: pointer;
        }

    #nick{
        background: url(paint_photos/nickelodeon.jpg);
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: 420px auto;
    }

        #nick:hover{
            border: rgb(0, 255, 0) 5px solid;
            cursor: pointer;
        }

    #kitty{
        background: url(paint_photos/kittybg.png);
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: 420px auto;
    }

        #kitty:hover{
            border: rgb(234, 0, 255) 5px solid;
            cursor: pointer;
        }

    #batman{
        background: url(paint_photos/batmanpattern.png);
        background-repeat: no-repeat;
        object-fit: contain;
        background-size: 420px auto;
    }

        #batman:hover{
            border: rgb(255, 217, 0) 5px solid;
            cursor: pointer;
        }

#grid{
    background-color:rgb(249, 253, 255);
    border: black solid 1px;
    height: 42em;
    width: 57em;
    margin: 10px;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px #3c3d41;
}

.gridbox{
    display:inline-grid;
}

.cell{
    border: black dashed 1px;
    cursor:pointer;
    background-color: white;
}

    .cell:hover{
        background-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        transition: ease .05s all;
    }

.footer{
    display: flex;
    justify-content: space-around;
    background-color: #2c2c2c;
    height: 5em;
    width: 79.3em;
    margin: 5px;
    box-shadow: 1px 1px 1px 1px #434344;
}

.resize{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bdbdbd;
    height: 3em;
    width: 30em;
    margin: 10px;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px #3c3d41;
}

#slider{
    width: 100%;
    height: 3em;
    padding: 0;
    background: transparent;
}
    #slider::-webkit-slider-runnable-track {
        background: #00027c;
        height: 6px;
    }

    #slider::-moz-range-track{
        background: #00027c;
        height: 6px;
    }

    #slider::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%; 
        background: rgb(44, 44, 44);
        cursor: pointer;
    }
    
    #slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(44, 44, 44);
        cursor: pointer;
    }

.paint{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bdbdbd;
    height: 3em;
    width: 57em;
    margin: 10px;
    padding: 2px;
    box-shadow: 2px 2px 2px 2px #3c3d41;
}

.break{
    flex-basis: 100%;
    height: 0;
}

.colores{
    border: solid rgb(10, 15, 66) 2px;
    height: 22px;
    width: 22px;
}

    .colores:hover{
        border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
        border-image-slice: 1;
    }

